body{
    background-color: #F4EFEF !important;
    margin:0px;
    padding:0px;
}

.logo {
    text-align: center;
}
.img-logo{
    margin:0px;
    padding:0px;
}
.img-suit{
    margin:0px;
    padding: 0px;
}

.img-slider {
    max-width: 100%;
    height: auto;
}

.img-fluid {
    object-fit: cover;
}

.roomss {
    margin-bottom: 53px;
}

/* .img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */

.card-text-header {
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.card-text {
    padding-top:20%;
    padding-left:10%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
}

.card-more-rooms {
    margin-right:60px;
    margin-bottom: 113px;
}
.img-fluid {
    width: 100%;
    object-fit: cover;
}
.card-text2 {
    padding-top:20%;
    padding-left:10%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.light-text{
    font-weight: 100;
}

.button {
    background: #B5A067;
    border-radius: 34.3558px;
    display: flex;   
    align-items: center;
}
nav {
    background: #15192D;
    text-align: center;
}


ul{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    overflow: hidden;
}

 li {
    /* float: left; */
    display: inline-block;
  } 
  
  li a {
    display: inline-block;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin-right: 70px;
    margin-left: 70px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
  }

  .box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    color: #FFFFFF;
    top: 10%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
}

.room{
    font-size: 64px;
}

.header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
    /* or 150% */
    margin-top: 53px;
    text-align: center;

color: #000000;
}


.suits {
    display:inline;
}

.testimonials {
    font-family: Agency FB;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    /* line-height: 104px; */

    display: flex;
    align-items: center;

color: #EBE2E2;
}

.what-they {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
position: absolute;
margin-top: 35px;
margin-left:300px;
/* top: 120px; */
/* width: 474px;
height: 44.07px;
left: 209px;
top: 4555.18px; */

color: #000000;
}

hr {
    width: 580px;
    height: 0px;
    left: 680px;
    top: 4577.22px;
    border: 1.05551px solid #000000;
}
